omegaconf
msgspec
rouge-score
sacrebleu
sentencepiece
tiktoken
fsspec
blobfile
wandb
viztracer
lm-eval
scipy
pynvml
transformers
torch>2.0.0
matplotlib==3.9.2
seaborn==0.13.2
regex~=2024.11.6
tokenizers~=0.20.3
datasets~=3.1.0